@use "colors.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

body 
{
    margin: 0;
    padding: 0;
    background-color: $background-3;
    font-size: 1.4rem;
    
    * {
        box-sizing: border-box;
        color: $fonte;
        font-family: "Dosis", sans-serif;
    }
}