<div class="container">
    <div>Escolha um login</div>
    <input type="file" #input>
    <div class="user">
        <img src="../../../assets/img/profile-default-svgrepo-com.svg">
        <span>Nome: Usuário</span>
        <button (click)="input.click()">IM</button>
    </div>
    <div class="user">
        <img src="../../../assets/img/profile-default-svgrepo-com.svg">
        <span>Nome: Usuário 2</span>
        <button (click)="input.click()">IM</button>
    </div>
    <div class="user">
        <img src="../../../assets/img/profile-default-svgrepo-com.svg">
        <span>Nome: Usuário 3</span>
        <button (click)="input.click()">IM</button>        
    </div>
</div>
